/node_modules
/public/build
/public/hot
/public/storage
/public/vendor
/public/css/filament
/public/js/filament
/public/fonts
/resources/lang/vendor
/resources/views/vendor
/storage/*.key
/vendor
/nova
.env
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
